AWS_ACCESS_KEY_ID={{ grafana_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ grafana_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ grafana_backup_aws_region }}
MOSQUITTO_PASSWORD={{ grafana_backup_mosquitto_password }}
MOSQUITTO_USERNAME={{ grafana_backup_mosquitto_username }}
MOSQUITTO_HOST={{ grafana_backup_mosquitto_host }}
SERVICE_NAME={{ grafana_service_name }}
BUCKET_NAME={{ grafana_backup_bucket_name }}
MYSQL_HOST=mysql
MYSQL_USER={{ grafana_mysql_user }}
MYSQL_PASSWORD={{ grafana_mysql_password }}
MYSQL_DATABASE={{ grafana_mysql_grafana_database }}
