MYSQL_GRAFANA_PASSWORD={{ grafana_mysql_password }}
MYSQL_GRAFANA_DATABASE={{ grafana_mysql_grafana_database }}
MYSQL_GRAFANA_USER={{ grafana_mysql_user }}
GRAFANA_ADMIN_PASSWORD={{ grafana_admin_password }}
